body {
	background:#03a9f4; 
	font-family: 'Roboto', sans-serif;
}

.navbar {
	background: rgba(0,0,0,0) !important;
}

.box {
	background: #fff;
	padding: 20px;
	margin-top: 40px;
}

.btn {
	border-radius: 0;
}